<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/styleIndex.css" />
	<link rel="stylesheet" href="css/fireflies.css" />
	<title>YS II</title>
</head>

<body>
	<h1>SidaQuest</h1>

	<!-- Menu -->
	<main>
		<a href="game"></a><button id="game">Start</button></a>
	</main>

	<script>
		document.getElementById("game").addEventListener("click", () => {
			console.log(("cxvkjqslmkdjf"));
			window.location = "/game";
		});
	</script>

	<div id="bas">
		<a href="html/contact.html">contact</a>
		<a href="html/openai.html">OpenAI</a>
	</div>
	
	<!-- Quantity should be the same in Sass-->
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
	<div class="firefly"></div>
</body>

</html>