body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  position: absolute;
  white-space: nowrap;
  font-size: 2rem;
}
